* {
  box-sizing: border-box;
}

*::placeholder {
  /* modern browser */
  color: lightgrey;
}

/* ************************************************************* MAIN CSS */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  width: 200px;
}

.logo-img {
  height: 100px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  width: 300px;
  padding: 0;
}

h2 {
  margin: auto;
}

button, input[type="text"] {
  font-family: 'Roboto', sans-serif;
  border: 0;
  border-bottom: 2px solid #735706;
  padding: 2px;
  width: 60vw;
  margin: auto;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
}

input {
  margin: 20px 50px;
  width: 200px;
}

.submit-btn, .video-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 21px;
  text-transform: uppercase;
  font-style: italic;
  border-top: 0;
  border-left: 0;
  background: white;
  width: 60vw;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

/* ************************************************************* RESULTS CSS */

#results {
  flex-direction: column;
  align-items: center;
}

.results-grid {
  display: flex;
  justify-content: center;
}

.hero-list-item > h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 100;
}

.hero-image, .comic-image {
  padding: 10px;
}

.hero-image {
  height: 14em;
}

.comic-image {
  height: 25em;
}

.video-image {
  height: 12em;
  padding: 10px;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#results, #video-results {
  width: 80vw;
}

#results-list {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
}

#results > p {
  margin-bottom: 0;
  font-size: .85em;
  font-style: italic;
}

#video-results-list {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
}

/* ************************************************************* MODAL */

.modal {

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .85);
}

.modal-content {
  margin: 10% auto;
  width: 20em;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-header {
  background: #180e59;
  padding: 10px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-heading {
  font-weight: 300;
  font-size: 20px;
}

.close-btn {
  float: right;
  font-size: 2em;
  padding: 0 .25em .5em .5em;
}

.close-btn:hover {
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  background: #180e59;
  padding: 10px;
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.modal-footer > span {
  text-align: center;
  padding: 10px;
}

.btn:hover {
  cursor: pointer;
}

/* ************************************************************* Media Query */

@media all and (min-width: 800px) {

  .logo-img {
    height: 200px;
  }

  button, input[type="text"], .submit-btn, .video-btn {
    width: 50vw;
  }

}